* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

html,
body {
  width: 100%;
  height: 100%;;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

button {
  all: unset;
  padding: 5px 20px;
  background-color: #d01c28;
  border-radius: 10px;
  height: 32px;
  color: white;
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.hero h1 {
  font-weight: 800;
  line-height: 102px;
  font-size: 100px;
}
.hero p {
  font-weight: 600;
  max-width: 400px;
  color: #2e2e2e;
}
.hero-btn {
  display: flex;
  gap: 40px;
}
.hero-btn button {
  font-size: 20px;
}
.secondary-btn {
  background-color: transparent;
  color: #2e2e2e;
  border: 1px solid gray;
}
.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}